* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.item {
  border: 2px solid red;
  height: 90vh;
}

.item1 {
  border: 1px solid blueviolet;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 100px;
}

.item1__img {
  width: 150px;
  height: 150px;
}
.total-price {
  background-color: blueviolet;
  color: rgb(137, 217, 217);
  width: 90px;
  border-radius: 10px;
  margin-left: 100px;
  padding-left: 5px;
  font-size: 30px;
}
.add-cart{
  padding: 6px;
  border-radius: 5px;
  background-color: aqua;
}
.re-cart{
  padding: 6px;
  border-radius: 5px;
  background-color: aqua;
}